<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{movingReview.name}}'s Quote Request</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div>
        <nav class="py-5 navbar navbar-expand-lg navbar-dark">
            <div class="container px-5">
                <img src="/static/images/MoveMe.jpg" alt="Move Me Logo">
                <a class="navbar-nav ms-auto mb-2 mb-lg-0" href="/">Home</a>
            </div>
        </nav>
        <div class="py-5">
            <div class="row gx-5 justify-content-center">
                <h1>Hi {{movingReview.name}}, please review your info!</h1>
                <ul>
                    <li>{{movingReview.email}}</li>
                    <li>{{movingReview.phone}}</li>
                    <li>{{movingReview.currentAddress}}</li>
                    <li>{{movingReview.movingAddress}}</li>
                    <li>{{movingReview.moveDateTime}}</li>
                    <li>{{movingReview.itemImages}}</li>
                    <li>{{movingReview.message}}</li>
                </ul>
                <p>If there are any issues with your information, Please send a text or leave a message at <a href="tel:">999.999.9999</a>, also you can send an email to <a href="mailto:abc@example.com">email</a> for the updates you'd like to make. Thanks again for choosing Move Me!</p>
            </div>
        </div>
        <footer class="py-6 bg-dark">
            <div class="container px-5">
                <p class="m-0 text-center text-white">Copyright © Your Website 2021</p>
            </div>
        </footer>
    </div>
</body>

</html>